<launch>

  <node pkg="uvc_camera" name="front_camera" type="uvc_camera_node"/>

  <node pkg="image_view" name="front_camera_viewer" type="image_view">
    <remap from="image" to="image_raw"/>
  </node>

  <node pkg="auv_vision" name="gate_locator" type="gate_locator"/>
<node pkg="auv_vision" name="locators_handler" type="locators_handler"/>

</launch>
