<launch>

  <node pkg="uvc_camera" name="front_camera" type="uvc_camera_node"/>

  <node pkg="auv_vision" name="gate_locator" type="gate_locator">
		<remap from="in" to="image_raw"/>
  </node>

  <node pkg="auv_vision" name="locators_handler" type="locators_handler"/>

  <node pkg="auv_connection" name="message_handler" type="message_handler"/>

  <node pkg="auv_connection" name="i2c_server" type="i2c_server"/>

</launch>
