<launch>

  	<node pkg="auv_vision" name="gate_locator" type="gate_locator" output="screen" />

    <node pkg="auv_vision" name="tile_locator" type="tile_locator" output="screen" />

    <node pkg="auv_vision" name="drums_locator" type="drums_locator" output="screen" />

    <node name="cam_front_1" pkg="usb_cam" type="usb_cam_node" output="screen" respawn="true" >
        <param name="video_device" value="/dev/video0" />
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="pixel_format" value="yuyv" />
        <param name="framerate" value="30" />
        <param name="camera_frame_id" value="cam_front_1" />
        <param name="camera_name" value="cam_front_1" />
        <param name="io_method" value="mmap"/>
    </node>

</launch>
