<launch>
	<node pkg="rqt_graph" name="rqt_graph" type="rqt_graph"/>
  <node pkg="rqt_console" name="rqt_console" type="rqt_console"/>
  <node pkg="rqt_logger_level" name="rqt_logger_level" type="rqt_logger_level"/>
	<node pkg="rqt_robot_monitor" name="rqt_robot_monitor" type="rqt_robot_monitor"/>
  

  <node pkg="uvc_camera" name="front_camera" type="uvc_camera_node"/>

  <node pkg="auv_vision" name="gate_locator" type="gate_locator">
		<remap from="in" to="image_raw"/>
	</node>

  <node pkg="auv_vision" name="locators_handler" type="locators_handler"/>

</launch>
