#!/usr/bin/env python

PACKAGE = "auv_vision"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("verticalSlope", double_t, 0, "Vertical line slope", 10, 0, 90)
gen.add("horizontalSlope", double_t, 0, "Horizontal line slope", 10, 0, 90)
gen.add("lengthRelation", double_t, 0, "Relation to longest line for filtering lines by length", .15, .1, 1)

gen.add("mergingLineDistanceHorizontal", double_t, 0, "Horizontal distance between two lines that should be merged", 8,  0, 70)
gen.add("mergingLineDistanceVertical", double_t, 0, "Vertical distance between two lines that should be merged", 5,  0, 70)

gen.add("overlapThreshold", double_t, 0, "Maximum allowed lines overlap", 3,  0, 20)
gen.add("distXThreshold", double_t, 0, "Maximum allowed X distance between lines", 17,  0, 70)
gen.add("distYThreshold", double_t, 0, "Maximum allowed Y distance between lines", 17,  0, 70)

gen.add("sidesRelationThreshold", double_t, 0, "Minimal Candidate rectangle sides relation", .7,  .1, 1)
gen.add("angleDiffThreshold", double_t, 0, "Maximal allowed deviation from 90 degrees", 7,  0, 45)
gen.add("areaFrameRelationThreshold", double_t, 0, "Minimal relation to frame", 0.05,  0, .9)

gen.add("fld_length_threshold", double_t, 0, "FLD Length threshold", 10,  0, 50)
gen.add("fld_distance_threshold", double_t, 0, "FLD Distance threshold", 15,  0, 50)
gen.add("fld_canny_threshold_1", double_t, 0, "FLD Canny threshold 1", 10,  0, 255)
gen.add("fld_canny_threshold_2", double_t, 0, "FLD Canny threshold 2", 10,  0, 255)
gen.add("fld_canny_aperture", double_t, 0, "FLD Canny aperture", 7,  3, 7)



exit(gen.generate(PACKAGE, "gate_locator", "GateLocator"))